<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pt.caixamagica.aptoide.appsbackup" android:versionCode="9996" android:versionName="0.99.96" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="13"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.GET_TASKS" />  
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application android:icon="@drawable/icon" android:label="@string/self_name" android:theme="@android:style/Theme.Light.NoTitleBar"> 
    
		<activity android:name=".Aptoide" android:label="@string/self_name" android:process=":aabInterface" android:launchMode="singleTask"
		    	  android:configChanges="keyboardHidden|orientation" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".Upload" android:process=":aabInterface" android:launchMode="singleTask" 
		    	  android:configChanges="keyboardHidden|orientation" >
		</activity>

<!-- 		<activity android:name=".Splash" android:process=":aabInterface" android:launchMode="singleTask"  -->
<!-- 		    	  android:configChanges="keyboardHidden|orientation" > -->
<!-- 		</activity> -->

		<activity android:name=".SelfUpdate" android:process=":aabInterface" android:launchMode="singleTask" 
		    	  android:configChanges="keyboardHidden|orientation" >
		</activity>

		<activity android:name=".Settings" android:process=":aabInterface" android:launchMode="singleTask" 
		    	  android:configChanges="keyboardHidden|orientation" >
		</activity>

		<activity android:name=".BazaarLogin" android:process=":aabInterface" android:launchMode="singleTask" 
		    	  android:configChanges="keyboardHidden|orientation" >
		</activity>

		<activity android:name=".BazaarSignUp" android:process=":aabInterface" android:launchMode="singleTask" 
		    	  android:configChanges="keyboardHidden|orientation" >
		</activity>
		
		<service android:name=".data.AptoideServiceData" android:process=":aabData">
<!-- ###### THESE NEXT INTENT FILTERS ARE ONLY FOR REFERENCE SINCE THEY ARE DYNAMICALLY FILTERED ######
  			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<data android:scheme="package" />
			</intent-filter>
  			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
     ################################################################################################## -->
		</service>

    </application>
</manifest>